html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video 
{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

dl, dd, dt
{
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section 
{
	display: block;
}
body 
{
	line-height: 1.3;
}
ol 
{ 
	padding-left: 1.4em;
	list-style: decimal;
}
ul 
{
	padding-left: 1.4em;
	list-style: square;
}
table 
{
	border-collapse: collapse;
	border-spacing: 0;
}
body
{
	margin-left:auto;
	margin-right:auto;
	font-family:Georgia, "Times New Roman", Times, serif;
	color:#585858;
    background-color: #FFFFFF;
}
a
{
	color:#FF0000;
	text-decoration:none;
	font-family:Arial, Helvetica, sans-serif;
    font-size: 100%;
}
pre
{
    margin-top: 0.4em;
    margin-bottom: 0.4em;
}

.header
{
    height:60px;
    width:100%;
	margin-bottom:15px;
}

.content
{
    display: table-cell;
	font-size:1.1em;
	vertical-align: top;
    width:80%;
}
.content p
{
    margin-bottom: 0.6em;
    margin-top: 0.6em;
}
.sidebar{
    display: table-cell;
	float:left;
    height:1200px;
    width:100%;
}

.foot 
{
    height:0px;
}

.sidebar-inner p
{
    margin-bottom:3px;
	color:#585858;
    font-size: 120%;
}
.sidebar-inner ul
{
    margin-top:0.6em;
    margin-bottom:1em;
}
.sidebar-inner a
{
	color:#FF0000;
}

.sidebar-filler
{
    height:20px;
}

.sidebar-chapter li
{
    margin-bottom:0.4em;
}

.sidebar-section li
{
    margin-bottom:0.2em;
}

.sidebar-section p
{
    font-size: 100%;
}

.sidebar-section-header
{
    font-size: 110%;
}

.shell
{
    margin-top: 1em;
    margin-left: 2em;
    margin-bottom: 1em;
    font-family:Courier, monospace;
}
.code
{
    font-weight:bold;
    font-family:Courier, monospace;
    background-color:#DDDDDD;
}
.headname
{
    font-weight:bold;
}

.subside
{
    margin-top:4px;
    margin-left:4px;
}

.article h2
{
    font-size: 120%;
    margin-top: 1.25em;
    margin-bottom: 0.5em;
}

.article h3
{
    font-size: 100%;
    margin-left: 1em;
    margin-top: 1.0em;
}
.article h4
{
    font-size: 100%;
    margin-left: 0em;
    margin-top: 1.0em;
    margin-bottom: 0.5em;
}
 
.sectionname a
{
    font-family:Georgia, "Times New Roman", Times, serif;
    color:#585858;
}

.subsectionname a
{
    font-family:Georgia, "Times New Roman", Times, serif;
    color:#585858;
}
.urlstyle tt
{
    font-family:Georgia, monospace;
    font-size: 100%;
}
