<link href="generic.css" rel="stylesheet">
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />

<div class="sidebar-inner">

<p>Сборочная система any</p>
<ul class="sidebar-chapter">
    <li><a href="../index.html" target="_parent" >any: общее описание</a></li>
    <ul class="sidebar-section">
        <div class="sidebar-section-header">
            <p>Обучающие материалы:</p>
        </div>
        <li><a href="../any/any-guide.7.html" target="_parent" >any-guide: пошаговое руководство</a></li>
        <li><a href="../any/any-howto.7.html" target="_parent" >any-howto: рецепты</a></li>
        <li><a href="../any/any-build.7.html" target="_parent" >any-build: написание билдов</a></li>
    </ul>
    <ul class="sidebar-section">
        <div class="sidebar-section-header">
            <p>Руководства:</p>
        </div>
        <li><a href="../any/any-do.1.html" target="_parent" >any-do (1)</a></li>
        <li><a href="../any/any-workdir.7.html" target="_parent" >any-workdir (7)</a></li>
        <li><a href="../any/any-map.7.html" target="_parent" >any-map (7)</a></li>
        <li><a href="../any/any-api.7.html" target="_parent" >any-api (7)</a></li>
        <li><a href="../any/any-conf.7.html" target="_parent" >any-conf (7)</a></li>
        <li><a href="../any/any.1.html" target="_parent" >any (1)</a></li>
    </ul>

</ul>

<p>Документы</p>
<ul class="sidebar-chapter">
    <li><a href="License.html" target="_parent" >Лицензия ISC</a></li>
</ul>

<ul class="sidebar-filler">
</ul>

<p>Подсистемы</p>
<ul class="sidebar-chapter">

    <li><a href="../subcom/subcom-desc.html" target="_parent" >subcom: внутренние команды</a></li>
    <ul class="sidebar-section">
        <div class="sidebar-section-header">
            <p>Руководства:</p>
        </div>
        <li><a href="../subcom/subcom.1.html" target="_parent" >subcom (1)</a></li>
    </ul>
    <li><a href="../devdoc/devdoc-desc.html" target="_parent" >devdoc: генератор документации</a></li>
    <ul class="sidebar-section">
        <div class="sidebar-section-header">
            <p>Руководства:</p>
        </div>
        <li><a href="../devdoc/devdoc.1.html" target="_parent" >devdoc (1)</a></li>
    </ul>

    <li><a href="../utils/anyutils-desc.html" target="_parent" >anyutils: утилиты сопровождения</a></li>

    <ul class="sidebar-section">
        <div class="sidebar-section-header">
            <p>Руководства:</p>
        </div>
        <li><a href="../utils/arithpkg.1.html" target="_parent" >arithpkg (1)</a></li>
        <li><a href="../utils/usedfiles.1.html" target="_parent" >usedfiles (1)</a></li>
        <li><a href="../utils/binfiles.1.html" target="_parent" >binfiles (1)</a></li>
        <li><a href="../utils/srcdeb.1.html" target="_parent" >srcdeb (1)</a></li>
    </ul>
    <li><a href="../any-engine-desc.html" target="_parent" >any-engine: основа</a></li>
    <li><a href="../mods/anymods-desc.html" target="_parent" >anymods: расширения</a></li>
    <li><a href="../rdd/rdd-desc.html" target="_parent" >rdd: сборочный фронтенд</a></li>

    <ul class="sidebar-section">
        <div class="sidebar-section-header">
            <p>Руководства:</p>
        </div>
        <li><a href="../rdd/rdd.1.html" target="_parent" >rdd (1)</a></li>
        <li><a href="../rdd/datardd.1.html" target="_parent" >datardd (1)</a></li>
        <li><a href="../rdd/dumprdd.1.html" target="_parent" >dumprdd (1)</a></li>
        <li><a href="../rdd/droprdd.1.html" target="_parent" >droprdd (1)</a></li>
        <li><a href="../rdd/lsrdd.1.html" target="_parent" >lsrdd (1)</a></li>
        <li><a href="../rdd/rootrdd.1.html" target="_parent" >rootrdd (1)</a></li>
    </ul>
</ul>

</div>
